/* Assuming this is the CSS for the footer (h2 element) */
h4 {
    background-color: rgb(6, 13, 73);
    padding: 20px;
    margin: 0;
    text-align: center;
    width: 98%; 
    position: fixed; 
    bottom: 0;
    color: rgb(255, 255, 255);
}
