.moviesList {
    padding-top: 10px;
    width: 50%;
    height: 50px;
    background-color: white;
    border: none;
}

.containButtons {
    justify-content: center;
}
.btnmovie{
    background-color: white;
    border: none;
}
/* Add the blue bottom border to the active button */

/* Assuming the button has a height, set the bottom border to a few pixels height */
.active-link {
    border-bottom: 3px solid #3e5cb8; /* You can customize the color and size as needed */
  }
  
