.moviesList {
    padding-top: 10px;
    width: 50%;
    height: 50px;
    background-color: white;
    border: none;
}

.containButtons {
    justify-content: center;
}
.btnmovie{
    background-color: white;
    border: none;
}
/* Add the blue bottom border to the active button */
.nav-link.active .moviesList {
    border-bottom: 3px solid rgb(159, 159, 234);
}
