<table class="table">
  <thead>
    <tr class="blue-background">
      <th scope="col">Movie Name</th>
      <th scope="col">Genre</th>
      <th scope="col">Running time</th>
      <th scope="col">Date of Release</th>
      <th scope="col">Rating</th>
      <th scope="col">Restrictions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies; let odd = odd">
      <td [class.green-background]="odd" [class.red-background]="!odd">
        {{ movie.name }}
      </td>
      <td [class.green-background]="odd" [class.red-background]="!odd">
        {{ movie.genre }}
      </td>
      <td [class.green-background]="odd" [class.red-background]="!odd">
        {{ movie.running_time }}
      </td>
      <td [class.green-background]="odd" [class.red-background]="!odd">
        {{ movie.release_date }}
      </td>
      <td [class.green-background]="odd" [class.red-background]="!odd">
        {{ movie.ratings }}
      </td>
      <td [class.green-background]="odd" [class.red-background]="!odd">
        {{ movie.age_restriction }}
      </td>
    </tr>
  </tbody>
</table>
